<h3 class="text-center">Product Details</h3>
<div class="text-center">
  <div>
    <label><b>Product Id: </b></label> {{ product.productId }}
  </div>
  <div>
    <label><b>Product Name: </b></label> {{ product.productName }}
  </div>
  <div>
    <label><b>Product Image: </b></label> {{product.productImage}}
  </div>
  <div>
    <label><b>Product Size: </b></label> {{product.productSizes}}
  </div>
  <div>
    <label><b>Category Id: </b></label> {{product.productCategoryId}}
  </div>
  <div>
    <label><b>Discount Price: </b></label> {{product.productDiscountPrice}}
  </div>
  <div>
    <label><b>Product Total: </b></label> {{product.productTotal}}
  </div>
  <div>
    <label><b>Product Intro: </b></label> {{product.productIntro}}
  </div>
  <div>
    <label><b>Created Date: </b></label> {{product.productCreatedDate}}
  </div>
  <div>
    <label><b>Created By: </b></label> {{product.productCreatedBy}}
  </div>
  <div>
    <label><b>Modified Date: </b></label> {{product.productModifiedDate}}
  </div>
  <div>
    <label><b>Modified By: </b></label> {{product.productModifiedDate}}
  </div>
</div>
