<h1 class="title text-center">
  {{ title }}
</h1>
<!-- As a link -->
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="product" routerLinkActive="active" class="nav-link">Product List</a>
      </li>
      <li class="nav-item">
        <a routerLink="create-product" routerLinkActive="active" class="nav-link">Create Product</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  All Copyright Reserve 2021 by @NgocKhiem
</footer>
